<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <div class="about-half">
                    <img class="me" src="i.jpeg">
                    blurred for protecting u from heat ;)
                </div>
                <div class="about-half">
                    <h1>Kiarash Bahrami</h1>
                    <p>
                        Linux daily driver user. Experienced Web Developer adept in all stages of advanced web
                        development. Knowledgeable in
                        user interface, testing, and debugging processes. Bringing forth expertise in design,
                        installation,
                        testing and maintenance of web systems. Equipped with a diverse and promising skill-set.
                        Proficient
                        in an assortment of technologies, including VueJS 3, Django, MySQL, NGINX and UNIX Based
                        Systems.
                        Able to effectively self-manage during independent projects, as well as collaborate in a team
                        setting.
                        Versatile and experienced Developer with a dedication to excellent work and
                        customer satisfaction.
                    </p>
                    <button>Learn More</button>
                </div>
            </div>
    </body>
    <%- include('./partials/footer.ejs') %>

</html>