<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
      <div class="details home">
        <h1>Welcome to my Assignment 1 Portfolio!</h1>
          <p>Check out [<a href="http://kearash.io">kearash.io</a>] for the real one.</p>
          <p>Also click on the image below to get redirected to about me</p>
          <a href="/about"><div class="img"></div></a>
      </div>
  </body>
  <%- include('./partials/footer.ejs') %>

</html>